body{
    background: #444349;
    margin: 0px;
    height: 2000px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

*:focus {
    outline: 0;
}



#miniBar {
    z-index: 1;
    background: rgba(20, 20, 20, 0.50);
    height: 47px;
    position: fixed;
    width: 100%;
    top: 0;
    display: none;
}

#miniBar .controlMenu{
    width: 40px;
    height: 40px;
    background: #16A79D;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    padding-top: 7px;
    padding-left: 14px;
    float: left;
    display: none;
    position: relative;
    top: 0;
    left: 0;
}

#miniBar .searchBox{
    width: 159px;
    height: 29px;
    border: none;
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    background-color: #444349;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding-left: 14px;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 9px;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Roboto';
    color: #FFFFFF;
    display: none;
}

#miniBar .searchIcon{
    position: fixed;
    float: right;
    width: 30px;
    height: 47px;
    top: 0;
    right: 0;
    margin-top: 12px;
    color: #FFFFFF;
}

#miniBar .searchIcon:hover{
    color: #d43a45;
}

#miniBar .controlMenu:hover{
    background: #d43a45;

}

#miniMenu{
    z-index: 1;
    margin-top: 47px;
    width: 100%;
    background: #16A79D;
    display: none;
    position:fixed;
    top:0;
    left:0;
    color: #FFFFFF;
}

#miniMenu ul{
    list-style: none;
    padding: 0;
    margin: 0px;
}

#miniMenu li {
    height: 34px;
    cursor: pointer;
    padding-top: 16px;
    padding-left: 14px;
}

#miniMenu a{
    text-decoration: none;
    color: #FFFFFF;
}

#miniMenu li:hover{
    background-color: #444349;
}

#miniMenu li.logout:hover{
    background: #d43a45;
}

#menu{
    z-index: 1;
    background: rgba(20, 20, 20, 0.50);
    height: 80px;
    width:100%;
    display:block;
    position:fixed;
    top:0;
    left:0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-top: solid 4px #16A79D;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

#menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
}

#menu li{
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    margin: 10px 5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#menu li.goHome{
    float: left;
    position: absolute;
    left: 0;
    width: 64px;
    height: 43px;
    margin: 10px;
    background: #16A79D;
    font-size: 22px;
    padding-top: 19px;
    font-weight: 300;
    border-radius: 45px;
}

#menu li.goHome:hover{
    background: #d43a45;
}

#menu li.settings{
    width: 30px;
    height: 40px;
    margin: 10px 10px 10px 10px;
    background: #444349;
}

#menu li.chercher{
    float: left;
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #444349;
    height: 20px;
    margin: 25px 5px 25px 90px;
    padding-top: 0px;
    padding-bottom: 10px;
}

#menu li.chercher:hover{
    background-color: #444349;
}

#menu .searchBox{
    width: 155px;
    height: 29px;
    border: none;
    background-color: #444349;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Roboto';
    color: #FFFFFF;
}

#menu .searchIcon{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

#menu .searchIcon:hover{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: #d43a45;
}

#menu li a{
    color: #FFFFFF;
    text-decoration: none;
}

#menu li:hover{
    background: #16A79D;
}

#menu li.chosen{
    background: #16A79D;
}

#menu li.user{
    width: auto;
    background-color: rgba(20, 20, 20, 0);
    font-style: italic;
}

#menu li.user:hover{
    background-color: rgba(20, 20, 20, 0);

}

#menu li#myWatchlist{
    background-color: rgba(20, 20, 20, 0);
    width:165px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    border-radius: 30px 30px 0px 0px;
}

#menu li.logout{
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu li.logout:hover{
    background: #d43a45;
}

#myWatchlistMenu{
    z-index: 1;
    display: none;
    background-color: #16A79D;
    width: 165px;
    position: fixed;
    float: right;
    top: 0;
    right: 0;
    margin-top: 74px;
    margin-right: 125px;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    border-radius: 0px 0px 30px 30px;
}

#myWatchlistMenu ul{
    list-style: none;
}

#myWatchlistMenu li{
    height: 30px;
    color: #FFFFFF;
    padding-left: 6px;
}

#movieContent{
    width: 100%;
    height: 100%;
    margin: 100px 10px 0px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
}


#movieContent img{
    width: 80%;

}
#indexContent{
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: justify;
}
#movieContent{
    margin-top: 50px ;
    margin-outside: 100px;
    font-size: 36px;
    width: 100%;
    font-style: oblique;
    font-family: 'Roboto';
}

#news h1{
    margin-top: 50px;
    font-size: 36px;
    width: 100%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
#indexContent{
    margin-top:100px;
    width: 90%;
    color: #ffffff;
    font-style: oblique;
    font-family: 'Roboto', sans-serif;
    text-align: justify;

}
#indexContent img{

    width: 1600px;
    height: 500px;
    display: block;
    position: relative;


}

#indexContent h2{
    font-size: 36px;
}
#indexContent p{
    font-size: 20px;
}
#recently-added h1{
    margin-top: 30px;
    font-size: 36px;
    width: 100%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#recently-viewed h1{
    margin-top: 30px;
    font-size: 36px;
    width: 100%;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: left;

}


/* Responsive pour moins de 1020px */
@media screen and (min-width:1021px) {

    #miniMenu {
        visibility: hidden;
    }
}
/* Responsive pour moins de 1020px */

@media screen and (max-width:1020px) and (min-width: 849px){
    #miniBar {
        display: none;
    }

    #miniBar .controlMenu{
        display: none;
    }

    #miniBar .searchBox{
        display: none;
    }

    #miniMenu{
        visibility: hidden;
    }

    #menu{
        z-index: 1;
        height: 40px;
        border-top: none;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
        font-size: 14px;
    }

    #menu li.goHome{
        width: 74px;
        height: 28px;
        margin: 2px;
        font-size: 18px;
        padding-top: 8px;
        font-weight: 300;
    }

    #menu li{
        width: 85px;
        height: 26px;
        text-align: center;
        padding-top: 10px;
        cursor: pointer;
        margin: 2px 2px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }

    #menu li.settings{
        width: 30px;
        height: 26px;
        margin: 1px 10px;
    }

    #menu li.chercher{
        margin: 4px 5px;
        margin-left: 87px;
        width: 150px;
        height: 22px;
    }

    #menu .searchBox{
        width: 80px;
        margin-top: 1px;
    }

    #menu .searchIcon{
        margin-top: 7px;
    }

    #menu li.logout{
        width: 40px;
        padding-top: 4px;
        padding-bottom: 7px;
        font-size: 13px;
    }

    #myWatchlistMenu{
        width: 165px;
        margin-top: 38px;
        margin-right: 96px;
    }

    #movieContent{
        width: 100%;
        height: 100%;
        margin: 50px 14px 0px 14px;
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
    }

    #news h1{
        margin-top: 80px;
        font-size: 32px;
        width: 100%;
    }
    #indexContent {
        margin-top: 0px;
    }

    #indexContent img{

        width: 100%;
        height: 100%;
    }

    #indexContent h2{
        font-size: 32px;
        width: 100%;
    }
    #indexContent p{
        font-size: 16px;
    }

    #recently-added h1{
        margin-top: 40px;
        font-size: 32px;
        width: 100%;
    }
    #recently-viewed h1{
        margin-top: 40px;
        font-size: 32px;
        width: 100%;
    }


}

/* Responsive pour moins de 850px */
@media screen and (max-width:850px) {
    #miniBar {
        display: block;
    }
    #miniBar .controlMenu{
        display: block;
    }

    #miniBar .searchBox{
        display: block;
    }

    #myWatchlistMenu{
        visibility: hidden;
    }

    #miniMenu {
        display: none;
    }

    #menu{
        display: none;
    }

    #movieContent{
        width: 100%;
        height: 100%;
        margin-top: 65px;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
    }

    #movieContent{
        width: 100%;
        height: 100%;
        margin: 50px 14px 0px 14px;
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
    }
    #indexContent {
        margin-top: -10px;
    }

    #news h1{
        margin-top: 80px;
        font-size: 18px;
        width: 100%;
    }

    #indexContent img{

        width: 100%;
        height: 100%;
    }

    #indexContent h2{
        font-size: 14px;
        width: 100%;
    }
    #indexContent p{
        font-size: 8px;

    }
    #recently-added h1{
        margin-top: 20px;
        font-size: 18px;
        width: 100%;
    }
    #recently-viewed h1{
        margin-top: 20px;
        font-size: 18px;
        width: 100%;
    }


}

/* CSS ACTOR.HTML */
.container{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center !important;
    margin-top: 100px;
}
.list-box{
    width: 100%;
    text-align: left;
}
.box{
    display: inline-block; 
    position : relative;
    width: 150px;
    height: 260px;
    margin: 15px; 
}
.box img{
    width:150px;
    height:212px;
}
.box span{
    display:block;
    color : #fff;
}
.box .info{
    opacity: 0.6;
}
.box .shadow{
    display: none;
    color:#fff;
    opacity: 1;
    line-height: 212px;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    height: 212px;
    position : absolute;
    top: 0px;
    left:0px;
    background-color: black;
    opacity: 0.6;
    z-index: 999;
}
.box .shadow span {
    width: 100%;
    vertical-align: middle;
    text-align: center;
}