<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <h2 style="text-align: center">RECENTLY ADDED MOVIES</h2><hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-4">
                    <a href="#/movies/938538816"><div class="thumbnail">
                        <img src="http://is1.mzstatic.com/image/thumb/Video3/v4/b4/9d/e6/b49de640-a05b-d26e-0dc8-68d5cce39184/source/1000x1000bb.jpg" alt="">
                    </div></a>

                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#/movies/361991150"><div class="thumbnail">
                        <img src="http://is4.mzstatic.com/image/thumb/Video/v4/cb/12/ec/cb12ec4a-d242-b644-68d9-19abadea355a/source/1000x1000bb.jpg" alt="">
                    </div></a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#/movies/978943481"><div class="thumbnail">
                        <img src="http://is2.mzstatic.com/image/thumb/Video6/v4/61/16/ce/6116cec2-d2e8-de26-f80d-38a1685d04b8/source/1000x1000bb.jpg" alt="">
                    </div></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <h2 style="text-align: center">RECENTLY ADDED TV SHOWS</h2><hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-4">
                    <a href="#/tvshows/season/544435219"><div class="thumbnail">
                        <img src="http://is4.mzstatic.com/image/thumb/Music6/v4/b3/f5/e4/b3f5e446-c1ee-127b-ece6-2899d99158ff/source/1000x1000bb.jpg" alt="">
                    </div></a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#/tvshows/season/264055603"><div class="thumbnail">
                        <img src="http://is4.mzstatic.com/image/thumb/Music69/v4/bf/9c/47/bf9c4728-b675-2f1b-f74e-211fd487219a/source/1000x1000bb.jpg" alt="">
                    </div></a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#/tvshows/season/562237386"><div class="thumbnail">
                        <img src="http://is1.mzstatic.com/image/thumb/Music3/v4/f1/83/c1/f183c1d2-5b3f-4be1-238e-1f19661459dc/source/1000x1000bb.jpg" alt="">
                    </div></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>