<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="row">
            <div id="colInfo" class="col-xs-12 col-sm-12">
                <h3><%= movie.trackName %></h3>
                <hr>
                <div class="col-xs-12 col-sm-4" id="colImg">
                    <img src=" <%= movie.artworkUrl100.replace("100x100","400x400") %> ">
                    <h4> Gender : <span class="label label-default"><%= movie.primaryGenreName %></span> </h4>
                    <h4> Year : <span class="label label-default"><%= movie.releaseDate.substring(0,4) %></span> </h4>
                    <h4> Duration : <span class="label label-default"><%= (( movie.trackTimeMillis / 1000 ) / 60).toString().substring(0,3) %></span> </h4>
                    <h4> PG : <span class="label label-default"><%= movie.contentAdvisoryRating %></span> </h4>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <input type="hidden" id="id_movie" value="<%= movie.trackId %>">
                    <p><%= movie.longDescription %></p>
                    <button id="search-button" type="button" class="btn btn-default watchTrailerBtn" disabled onclick="search('<%= movie.trackName %> + trailer ')">WATCH TRAILER</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="search-container"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal-movie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Manager mes films</h4>
            </div>
            <div class="modal-body">
                Vous allez être redirigé vers la page de gestion des watchlists
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-vert">Go</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal-watchlist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ajouter dans une watchlist</h4>
            </div>
            <div class="modal-body">
                <select class="form-control">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-vert" data-dismiss="modal" id="ajouter-movie-watchlist">Ajouter</button>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    getWatchlist();
        function getWatchlist(){
            $('#colInfo h3 .glyphicon').remove();
            $.get('http://localhost:3000/unsecure/watchlists',function( data ) {
                $('#colInfo h3').append('<span class="glyphicon glyphicon-plus glyph-watchlist" id="glyph-watchlist-ajouter"></span>');
                id = $('#id_movie').val();
                //Pour chaque Watchlist
                flag = false;
                for (i = 0; i < data.length; i++) {
                    html = '<option value="'+data[i].id+'">'+data[i].name;
                    for (j = 0; j < data[i].movies.length; j++) {
                        if(parseInt(data[i].movies[j].trackId) == parseInt(id) ){
                            flag = true;
                            html += '<small>  (déjà présent)</small>';
                        }
                    }
                    html += '</option>';
                    $('#myModal-watchlist select').append(html);
                }
                if(flag){
                    $('#colInfo h3').append('<span class="glyphicon glyphicon-ok glyph-watchlist" id="glyph-watchlist-present"></span>');
                }
            });
        }
        $(document).ready(function(){
            $('body').delegate('#glyph-watchlist-present','click',function(){
                $('#myModal-movie').modal('show');
                $('#myModal-movie').css('display','block');
            });
            $('body').delegate('#glyph-watchlist-ajouter','click',function(){
                $('#myModal-watchlist').modal('show');
                $('#myModal-watchlist').css('display','block');
            });
            $('body').delegate('#ajouter-movie-watchlist','click',function(){
                id_watchlist = $('#myModal-watchlist select').val();
                id_movie = $('#id_movie').val();
                $.get('http://localhost:3000/unsecure/movies/'+id_movie,function( data ) {
                    film = data.results[0];
                    $.post('http://localhost:3000/unsecure/watchlists/'+id_watchlist+'/movies',film,function( data ){
                        getWatchlist();
                    });
                });
            });
        });

</script>

<script src="resources/js/search.js"></script>
<script src="https://apis.google.com/js/client.js?onload=handleAPILoaded"></script>

<style type="text/css">
    #search-container{
        text-align: center;
        background-color: rgba(20, 20, 20, 0.30);
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);

        -webkit-border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;
        border-radius: 0px 0px 20px 20px;
    }

    .watchTrailerBtn{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #colImg{
        text-align: center;
        margin-bottom: 10px;
    }

    #colImg h4{
        text-align: left;
    }

    #colImg img{
        margin-bottom: 10px;
        width: 100%;
    }

    #colInfo{
        text-align: justify;
        background-color: rgba(20, 20, 20, 0.50);
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 18px;

        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);

        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    #colButton{
        text-align: center;
    }

    .glyph-watchlist{
        display: block;
        float: right;
        cursor:pointer;
    }
    .glyph-watchlist:hover{
        color:#16A79D;
    }
    #glyph-watchlist-present{color:#16A79D;}
    #glyph-watchlist-present:hover{color:#fff;}
    .btn-vert{background-color: #16A79D; color:white;}
    .modal{color:black;}


</style>

