<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="row">
            <div id="colUser" class="col-xs-12 col-sm-12">
                <% if(flag == 'none') {%>
                <span class="btn-follow"><span class="glyphicon glyphicon-plus follow"></span>Follow</span>
                <% } else if(flag == 'follow'){%>
                <span class="btn-unfollow"><span class="glyphicon glyphicon-remove unfollow"></span>unFollow</span>
                <% } %>
                <div class="col-xs-12 col-sm-4">
                    <img src="resources/img/user-info.png">
                </div>
                <div class="col-xs-12 col-sm-8 form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <%= user.name %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <%= user.email %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Follow</label>
                        <div class="col-sm-10 friends-list">
                            <% if(user.following.length == 0) {%>
                                <button class="btn btn-primary col-xs-2">empty</button>
                            <%} else{
                                _.each(user.following, function(friend){ %>
                            <a href="#/user/<%= friend.id %>" class="btn btn-primary col-xs-3">
                                <%= friend.name %>
                                <% if(friend.id == idLogin) {%>
                                <small>(Me)</small>
                                <% } %>
                            </a>
                            <%})}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="resources/js/search.js"></script>
<script src="https://apis.google.com/js/client.js?onload=handleAPILoaded"></script>

<script type="application/javascript">

    // Permet de follow une personne
    /*
    var token = $.cookie('myToken');

    $.ajaxSetup({
        headers: { "Authorization": token }
    });



    $.ajax({
        url: "http://localhost:3000/follow",
        type: 'POST',
        data: {id:'566c7172e81f6e8bd0e5eb9b'},
        dataType: 'JSON',
        async: true,
        success: function (data) {
            console.log('ok');
            console.log(data);
        },
        error: function (data) {
            if(data.status == 401){
                console.log("Token expired");
                app_router.navigate("",true);
            }
        }
    });
    */
</script>


<style type="text/css">
    #colUser{
        text-align: justify;
        background-color: rgba(20, 20, 20, 0.50);
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 18px;

        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);

        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    #colUser img{
        width:100%;
        margin-top:10px;
    }
    #colUser .form-horizontal{
        margin-top:25px;
    }
    #colUser .form-group > div {
        padding-top:7px;
    }
    #colUser .btn-unfollow{
        position: absolute;
        top:20px;
        right: 20px;
        background-color: #e74c3c;
        border-radius: 20px;
        padding: 5px;
        -webkit-transition: width 1s; /* Safari */
        transition: width 1s;
        overflow: hidden;
        z-index: 999;
        width:44px;
        white-space: nowrap;
        cursor: pointer;
    }
    #colUser .btn-unfollow:hover{
        width:130px;
    }
    #colUser .btn-unfollow .unfollow{
        padding: 5px 10px;
    }
    #colUser .btn-follow{
        position: absolute;
        top:20px;
        right: 20px;
        background-color: #16A79D;
        border-radius: 20px;
        padding: 5px;
        -webkit-transition: width 1s; /* Safari */
        transition: width 1s;
        overflow: hidden;
        z-index: 999;
        width:44px;
        white-space: nowrap;
        cursor: pointer;
    }
    #colUser .btn-follow:hover{
        width:110px;
    }
    #colUser .btn-follow .follow{
        padding: 5px 10px;
    }
</style>