<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <h2 id="pagetitle">MY WATCHLISTS</h2><hr>
        <div class="input-group" id="nameSame">
            <input id="watchlist-input" type="text" class="form-control" placeholder="Type the name for a new watchlist...">
        <span class="input-group-btn">
            <button id="save-watchlist-button" class="btn" type="button" onclick="">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> WATCHLIST</button>
        </span>
        </div>
        <p id="save-watchlist-error">Please, type a valid name for your new watchlist !</p><hr>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class=" btn-toolbar">
            <% _.each(watchlists, function(watchlist){ %>
            <a href="#/watchlists/<%= watchlist.id %>"><button id="<%= watchlist.id %>" class="btn btn-primary watchlistBtn" type="button">
                <%= watchlist.name %><span class="badge"><%= watchlist.movies.length %>
                <span class="glyphicon glyphicon glyphicon-film" aria-hidden="true"></span></span>
            </button></a>
            <% }); %>
        </div><br>
    </div>
    <div class="col-xs-1"></div>
</div>



<style type="text/css">
    .watchlistBtn{
        margin-bottom: 10px;
        margin-right: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    .watchlistBtn:hover{
        background-color: #16A79D;
    }

    .badge{
        margin-left: 10px;
    }

    #save-watchlist-button{
        background-color: #16A79D;
    }

    #save-watchlist-button:hover{
        background-color: #d43a45;
        color: #FFFFFF;
    }

    #save-watchlist-error{
        color:#d43a45;
        display: none;
    }

</style>