<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <h2 id="pagetitle"><a href="#/watchlists">MY WATCHLISTS</a>
        <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small>
        <%= watchlist.name %></h2>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <table class="table">
                <% for (i = 0; i < watchlist.movies.length ; i++){%>
                    <tr>
                        <td>
                            <a href="#/movies/<%= watchlist.movies[i].trackId %>">
                            <%= watchlist.movies[i].trackName %>
                            </a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    <div class="col-xs-1"></div>
</div>


<style type="text/css">
    #pagetitle a{
        color: #FFFFFF;
    }
    #pagetitle a:hover{
        color: #d43a45;
        text-decoration: none;
    }

    table a {
        text-decoration: none;
        color: #FFFFFF;
    }

    table a:hover {
        text-decoration: none;
        color: #d43a45;
    }

</style>