*:hover{
    outline: none;
}

h1,h2,h3,h4,h5,h6,p,div {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    padding-top: 90px;
    background: #444349;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
}