*:hover{
    outline: none;
}

h1,h2,h3,h4,h5,h6,p,div {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    padding-top: 90px;
    background: #444349;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #FFFFFF;
}

/*Customiser le menu de Bootstrap*/
.navbar-default {
    background-color: rgba(20, 20, 20, 0.50);
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-top: solid 0px #16A79D;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand {
    background-color: #16A79D;
    color: #FFFFFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: #d43a45;
    color: #FFFFFF;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #16A79D;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #b2b2b2;
    background-color: #2c6d74;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #2c6d74;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2c6d74;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #b2b2b2;
}
.dropdown-menu {
    background-color: rgba(20, 20, 20, 0.50);
}
.dropdown-menu > li > a {
    color : #FFFFFF;
    background-color: rgba(20, 20, 20, 0.50);
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #b2b2b2;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #b2b2b2;
        background-color: #2c6d74;
    }
}